    <br>
    <fieldset class="Infoform">
    <form>
    <h1>Contact Information</h1>
    <div class="container">
    <label><strong>Username</strong></label>
    <input type="text" placeholder="Enter Name" required>
    <label><strong>E-mail</strong></label>
    <input type="email" placeholder="Enter E-mail" required>
    <label><strong>Phone number</strong></label>
    <input type="text" placeholder="Enter Phone Number" required>
    </div><br><br>
    <input type="submit" value="Submit" (click)="navigate()">&nbsp;&nbsp;
    <input type="reset" value="Reset">
    </form>
    </fieldset>
