<br><fieldset class="Infoform">
<label>UserName :</label>
     <input placeholder="Enter Name"
        #userNameTextBox
        type="text"
        (input)="onUserNameEdit(userNameTextBox.value)"
        [value]="userName"  />
 
  <label> Password : </label> 
 <input placeholder="Enter Password"
       #passwordTextBox
       type="password"
        (input)="onPasswordEdit(passwordTextBox.value)"
        [value]="password" />
  <br><br>
    <button  (click)="onLogin()">Login</button>&nbsp;&nbsp;  
     <button (click)="onReset()" >Reset</button>   <br>

     <output> {{errorMessage}}</output> 
  


</fieldset>