<br><fieldset class="Infoform">
<label>UserName :</label>
     <input placeholder="Enter Name Here"
        #userNameTextBox
        type="text"
        (input)="onUserNameEdit(userNameTextBox.value)"
        [value]="userName"  />
 
  <label> Password : </label> 
 <input placeholder="Enter Password Here"
       #passwordTextBox
       type="password"
        (input)="onPasswordEdit(passwordTextBox.value)"
        [value]="password" />
  <br>
    <button  (click)="onLogin()">Login</button>   
     <button (click)="onReset()" >reset</button>   <br>

   <label>Status </label> 
     <output> {{'Login Status :'+ errorMessage}}</output> 
  


</fieldset>