<br>
<fieldset class="Infoform">
<form>
<h1>Add Patient Monitoring Device</h1>
<div class="container">
<label><strong>Product Id</strong></label>
<input type="text" placeholder="Enter Product Id" required>
<label><strong>Description</strong></label>
<input type="text" placeholder="Enter Description" required>
<label><strong>ProductSpecificTraining</strong></label>
<input type="radio" name="ProductSpecificTraining" id="TRUE"><label>TRUE</label><input type="radio" name="ProductSpecificTraining"id="FALSE"><label>FALSE</label><br><br>

<label><strong>Price</strong></label>
<input type="text" placeholder="Enter Price" required>
<label><strong>Portability</strong></label>
<input type="radio" name ="Portability" id="TRUE"><label>TRUE</label><input type="radio" name ="Portability" id="FALSE"><label>FALSE</label><br><br>

<label><strong>Compact</strong></label>
<input type="radio" name="Compact" id="TRUE"><label>TRUE</label><input type="radio" name="Compact" id="FALSE"><label>FALSE</label><br><br>

<label><strong>BatterySupport</strong></label>
<input type="radio" name="BatterySupport" id="TRUE"><label>TRUE</label><input type="radio"  name="BatterySupport" id="FALSE"><label>FALSE</label><br><br>

<label><strong>ThirdPartyDeviceSupport</strong></label>
<input type="radio" name ="ThirdPartyDeviceDupport" id="TRUE"><label>TRUE</label><input type="radio" name ="ThirdPartyDeviceDupport" id="FALSE"><label>FALSE</label><br><br>

<label><strong>SafeToFlyCertification</strong></label>
<input type="radio" name ="SafeToFlyCertification" id="TRUE"><label>TRUE</label><input type="radio" name ="SafeToFlyCertification" id="FALSE"><label>FALSE</label><br><br>

<label><strong>TouchScreenSupport</strong></label>
<input type="radio" name="TouchScreenSupport" id="TRUE"><label>TRUE</label><input type="radio" name="TouchScreenSupport" id="FALSE"><label>FALSE</label><br><br>

<label><strong>MultiPatientSupport</strong></label>
<input type="radio" name="MultiPatientSupport" id="TRUE"><label>TRUE</label><input type="radio" name="MultiPatientSupport" id="FALSE"><label>FALSE</label><br><br>

<label><strong>CyberSecurity</strong></label>
<input type="radio" name ="CyberSecurity" id="TRUE"><label>TRUE</label><input type="radio" name ="CyberSecurity" id="FALSE"><label>FALSE</label><br><br>


</div><br><br>
<input type="submit" value="Add Details">
<input type="reset" value="Reset">
</form>
</fieldset>
