<div class="menu">
    <br>
    <button class="button" (click)="navigateAddDevice();">Add Product</button> &nbsp;
    <button class="button" (click)="navigateDeleteDevice();">Delete Product</button> &nbsp;
    <button class="button" (click)="navigateUpdateDevice();">Update Product</button> &nbsp;
    <button class="button" (click)="navigateGetAllDevices();">All Products</button> &nbsp;
    <button class="button" (click)="navigateGetDeviceById();">Get Product By Id</button> &nbsp;
    
    </div>

    <p>{{htmlMessage}}</p>